body {
  background-color: rgb(219, 224, 255);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html
{
  max-width: 100%;
  max-height: 100%;
}

input[type = "input"]{
  font-size: 20px;
  font-family: system-ui, sans-serif;
  text-transform: uppercase;
}

button {
    width: 70px;
    height:  20px;
    background-color: grey;
    color: white;
    border-radius: 2px;
}

#flightinput
{
  width: 400px;
  font-family: system-ui, sans-serif;
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
}

.path{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


.flightinput-title
{
  color: Green;
  font-size: 40px;
}